<div class="container">
  <h1>Welcome to {{ title }}!</h1>

  <!-- <form>
    <input [(ngModel)]="userName" type="text" name="user">
  </form> -->

  <ul>
    <li [class]="priorityColor(recipe)" *ngFor="let recipe of recipes">
      <h5 (click)="displayRecipe(recipe)" >{{recipe.title}}</h5> <button class="btn btn-primary" (click)="editRecipe(recipe)">Edit!</button>
      <ul *ngIf="showRecipe === recipe">
        <li>Ingredients: </li>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
          </ul>
        <li>Directions: </li>
          <ol>
            <li *ngFor="let instruction of recipe.directions">{{instruction}}</li>
          </ol>
        <li><img [src]="recipe.imgString"></li>
      </ul>
    </li>
    <li class="bg-success">
      <button type="button" class="btn btn-light" name="button" (click)="displayAddRecipe()">Add recipe</button>
      <div *ngIf="addRecipe">
        <input class="form-control" type="text" [(ngModel)]="recipeName" placeholder="Title"><br>
        <input class="form-control" type="text" [(ngModel)]="ingredients" placeholder="Ingredients separated by commas"><br>
        <input class="form-control" type="text" [(ngModel)]="directions" placeholder="Directions separated by commas">
        <button type="button" class="btn btn-light" (click)="submitRecipe(recipeName, ingredients, directions)" name="button">Submit recipe</button>

          <p>{{recipeName}}</p>
          <p>{{ingredients}}</p>
          <p>{{directions}}</p>

      </div>
    </li>
  </ul>
  <div *ngIf="selectedRecipe">

    <h3>{{selectedRecipe.title}}</h3>
    <h3>Edit Recipe</h3>
    <label>Enter a Recipe name:</label>
    <input [(ngModel)]="selectedRecipe.title">
    <label>Enter Recipe Priority (1-3):</label>
    <br>
    <input type="radio" [(ngModel)]="selectedRecipe.priority" [value]="1">1 (Low Priority)<br>
    <input type="radio" [(ngModel)]="selectedRecipe.priority" [value]="2">2 (Medium Priority)<br>
    <input type="radio" [(ngModel)]="selectedRecipe.priority" [value]="3">3 (High Priority)
    <button (click)="finishedEditing()">Done</button>
  </div>
</div>
